<header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <div class="container">
                        <div><a routerLink="/home" class="navbar-brand">Webify</a></div>
                        <ul class="navbar-nav">
                                <!-- <li><a *ngIf="authenticationService.isUserLoggedIn()" routerLink="/" class="nav-link">Dashboard</a>
                </li>
                <li><a *ngIf="authenticationService.isUserLoggedIn()" routerLink="/addemployee" class="nav-link">Add New
                        Employee</a></li>
                <li><a *ngIf="!authenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a>
                </li>
                <li><a *ngIf="authenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a>
                </li> -->
                                <li class="list-inline-item"><a *ngIf="userService.isUserLoggedIn()"
                                                routerLink="/dashboard" class="nav-link">Dasboard</a></li>
                                <li class="list-inline-item"><a *ngIf="isUserLoggedIn()"
                                                routerLink="/profile" class="nav-link">Profile</a></li>
                                <li class="list-inline-item"><a *ngIf="isUserLoggedIn()"
                                                routerLink="/courses" class="nav-link">Courses</a></li>
                                <li class="list-inline-item"><a *ngIf="isUserLoggedIn()"
                                                routerLink="/logout" class="nav-link">Logout</a></li>
                                <li class="list-inline-item"><a *ngIf="!isUserLoggedIn()"
                                                routerLink="/login" class="nav-link">Login</a></li>
                                <li class="list-inline-item"><a *ngIf="!isUserLoggedIn()"
                                                routerLink="/register" class="nav-link">Register</a></li>
                                <label class="switch">
                                        <input type="checkbox" checked (click)="changeTheme()">
                                        <span class="slider round"></span>
                                </label>
                        </ul>
                </div>
        </nav>
</header>