<div class="container">
    <div class="row">
        <ng8-breadcrumb></ng8-breadcrumb>
    </div>
    <div class="row mb-5">
        <div class="col-lg-6" style="border-right: 2px solid #e74c3c">
            <div>
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6" style="border-left: 2px solid #f1c40f">
            <div>
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData1" [labels]="barChartLabels1" [options]="barChartOptions"
                        [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row mt-5">
        <div class="col-lg-6" style="border-right: 2px solid #2ecc71">
            <div>
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels2" [options]="barChartOptions"
                        [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6" style="border-left: 2px solid #e67e22">
            <div>

            </div>
        </div>
    </div>
</div>