<div class="panel-body">
        <div class="form-group">
                <div class="col-sm-4 offset-sm-4">
                        <label for="" class="control-label">Question</label>
                        <input id="question" type="text" class="form-control">
                </div>

                <div class="col-sm-4 offset-sm-4">
                        <label for="" class="control-label">Choice 1</label>
                        <input id="choice1" type="text" class="form-control">
                </div>

                <div class="col-sm-4 offset-sm-4">
                        <label for="" class="control-label">Choice 2</label>
                        <input id="choice2" type="text" class="form-control">
                </div>

                <div class="col-sm-4 offset-sm-4">
                        <label for="" class="control-label">Choice 3</label>
                        <input id="choice3" type="text" class="form-control">
                </div>

                <div class="col-sm-4 offset-sm-4">
                        <label for="" class="control-label">Choice 4</label>
                        <input id="choice4" type="text" class="form-control">
                </div>

                <div class="col-sm-4 offset-sm-4">
                        <button class="btn btn-danger mt-3 mr-5 ml-5">New Question</button>
                        <button class="btn btn-danger mt-3">Save</button>
                </div>
        </div>
</div>