<div class="container mt-3 mb-3">
    <div class="row">
        <h2 class="float-left">Course Editor</h2>
    </div>
    <div class="row">
        <div class="d-flex justify-content-between">
            <button class="btn btn-primary mt-3 mb-4 mr-2" data-toggle="modal" data-target="#exampleModal">Create
                module</button>
                <button routerLink="/addLecture" class="btn btn-primary mt-3 mb-4 mr-2">Go to add lecture (temp)</button>
                <button routerLink="/quizView" class="btn btn-primary mt-3 mb-4">Go to quiz view (temp)</button>
        </div>
        
    </div>


    <div class="row">


        <!-- start of accordion -->
        <div id="accordion" class="myaccordion" *ngFor="let module of modules; let i = index;">
            <div class="col-12" style="background-color: #dddddd">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">

                            <div class="row">
                                <div class="col-9">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        {{module.module_name}}
                                        <span class="fa-stack fa-sm">
                                            <i class="fas fa-circle fa-stack-2x"></i>
                                            <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                                        </span>

                                    </button>
                                </div>
                                <div class="col-3">
                                    <a (click)="addTitle()" style="font-size: 16px;" class="mr-3">Add</a>
                                    <a style="font-size: 16px;" (click)="saveTitle()">Save</a>
                                </div>
                            </div>




                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body" style="background-color: #dddddd">
                            <ul>
                                <li *ngFor="let title of titles; let i = index;">
                                    <div>
                                        <input type="text" style="list-style-type:none;" [(ngModel)]="lectureName">
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of accordion -->


    </div>


</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Module</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form [formGroup]="createModuleForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="text" placeholder="Module name" formControlName="moduleName">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Module code" formControlName="moduleCode">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Description" formControlName="description">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="onClick()" data-dismiss="modal">Add
                    module</button>
            </div>
        </div>
    </div>
</div>