.icon-size {
    border: 1px solid #ecf0f1;
    font-size: 350px;
    color: #ecf0f1
}

.section {
    width: 100%;
    min-height: 200px;
    background: grey;
    height: 100%
}

.input-size {
    width: 50%;
}

body {
    background: #F9F9F9;
  }
  
  .myaccordion {
    //max-width: 500px;
    width: 100%;
    margin: 20px auto;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
  }
  
  .myaccordion .card,
  .myaccordion .card:last-child .card-header {
    border: none;
  }
  
  .myaccordion .card-header {
    border-bottom-color: #EDEFF0;
    background: transparent;
  }
  
  .myaccordion .fa-stack {
    font-size: 18px;
  }
  
  .myaccordion .btn {
    width: 100%;
    font-weight: bold;
    color: #004987;
    padding: 0;
  }
  
  .myaccordion .btn-link:hover,
  .myaccordion .btn-link:focus {
    text-decoration: none;
  }
  
  .myaccordion li + li {
    margin-top: 10px;
  }