<div class="container mt-3 mb-3">
    <div class="row">
        <h2 class="float-left">Course Editor</h2>
    </div>
    <div class="row">
        <ng8-breadcrumb></ng8-breadcrumb>
    </div>
    <div class="row">
        <div class="d-flex justify-content-between">
            <button class="btn btn-danger mt-3 mb-4 mr-2" data-toggle="modal" data-target="#exampleModal">Create
                module</button>
            <button routerLink="/viewLecture" class="btn btn-danger mt-3 mb-4 mr-2">Go to add lecture (temp)</button>
            <button routerLink="/quizView" class="btn btn-danger mt-3 mb-4">Go to quiz view (temp)</button>
        </div>

    </div>


    <div class="row">


        <!-- start of accordion -->
        <div id="accordion" class="myaccordion" *ngFor="let module of modules; let i = index;">
            <app-course-block [module]="module" [i]="i" [courseId]="courseId"></app-course-block>
        </div>
        <!-- end of accordion -->


    </div>


</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Module</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form [formGroup]="createModuleForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="text" placeholder="Module name" formControlName="moduleName">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Module code" formControlName="moduleCode">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Description" formControlName="description">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="onClick()" data-dismiss="modal">Add
                    module</button>
            </div>
        </div>
    </div>
</div>